%h1 My folders
%br

%div
  %span>
    = link_to 'New Folder', new_folder_path
    \-
  %span>
    = link_to 'New Document', new_document_path
%br

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th{colspan: "2"} Actions
  %tbody
    - @folders.each do |folder|
      %tr
        %td{align: "center"}= link_to folder.name, folder
        %td{align: "center"}= link_to image_tag("icones/edit_icone.png", size: '30x30'), edit_folder_path(folder)
        %td{align: "center"}= link_to image_tag("icones/delete_icone.png", size: '30x30'), folder, method: :delete, data: { confirm: 'Are you sure?' }
