%h2
  = @folder.name
%br


%span>
  = link_to 'Add document', new_document_path(:folder => @folder.id)
  \-
%span>
  = link_to 'Edit folder', edit_folder_path(@folder)
%br

%br
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Type
      %th Name
      %th{colspan: "3"}
  %tbody
    - @documents.each do |document|
      %tr
        %td= image_tag content_type_icone(document.file), size: '25x25'
        %td= document.name
        %td= link_to 'Download', document.file.url
        %td= link_to 'Edit', edit_document_path(document)
        %td= link_to 'Delete', document, method: :delete
%br
%span>
  = link_to 'Back', folders_path
