= form_for @episode do |f|
  - if @episode.errors.any?
    #error_explanation
      %h2= "#{pluralize(@episode.errors.count, "error")} prohibited this episode from being saved:"
      %ul
        - @episode.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :number
    = f.number_field :number
  .field
    = f.label :watched
    = f.check_box :watched
  .field
    = f.label :downloaded
    = f.check_box :downloaded
  .field
    = f.label :season_id
    = f.number_field :season_id
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
