%p#notice= notice

%p
  %b Number:
  = @episode.number
%p
  %b Watched:
  = @episode.watched
%p
  %b Downloaded:
  = @episode.downloaded
%p
  %b Season:
  = @episode.season_id

%p
  %b Url
  = @episode.original_file

%video{"width" => "560", "height" => "330", "controls" => "controls"}
  %source{"src" => @episode.original_file, "type" => "video/mp4"}

= link_to 'Edit', edit_episode_path(@episode)
\|
= link_to 'Back', @season
