= form_for @series do |f|

  - if @series.errors.any?
    #error_explanation
      %h2= "#{pluralize(@series.errors.count, "error")} prohibited this series from being saved:"
      %ul
        - @series.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .field.form-group
    = f.label :key_words
    = f.text_field :key_words, class: 'form-control'
  .actions
    = f.submit class: 'btn btn-default'
