%h1= @series.name
%br

%span
  = link_to image_tag("icones/add_icone.png", size: '30x30'), new_season_path('series_id' => @series.id)
  \-
%span
  = link_to image_tag("icones/edit_icone.png", size: '30x30'), edit_series_path(@series)
%br

%br
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Number
      %th Episodes Count
      %th Auto-download
      %th{colspan: "4"} Actions
  %tbody
    - @seasons.each do |season|
      %tr
        %td{align: "center"}= link_to season.number, season
        %td{align: "center"}= season.episodes_count
        %td{align: "center"}= link_to icon_yes_no(season.auto_download), season_path(season.id, 'season[auto_download]' => !season.auto_download), method: :patch
        %td{align: "center"}= link_to "T411 Download", {controller: :torrent_downloader, action: :season, "season_id" => season.id}
        %td{align: "center"}= link_to image_tag("icones/show_icone.png", size: '30x30'), season
        %td{align: "center"}= link_to image_tag("icones/edit_icone.png", size: '30x30'), edit_season_path(season)
        %td{align: "center"}= link_to image_tag("icones/delete_icone.png", size: '30x30'), season, method: :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to image_tag("icones/back_icone.png", size: '30x30'), series_index_path
